<h1>Home page</h1>


{{outlet}}


<br>
{{#each animal in model}}
  <div class="each-msg">{{#link-to 'animal' animal.id}} {{animal.name}}: {{animal.description}} (Missing Since: {{animal.date}}){{/link-to}}</div>
{{/each}}
