<h1>animal page lol</h1>

<div>
{{model.name}}
{{model.description}}
</div>
<br>

<h2>Address: {{model.address}}</h2>

{{google-map address=model.address}}

<div id="googleMap" style="width:500px;height:380px;"></div>
