<h1>it works this is the animals page!</h1>

<br>

{{#each animal in model}}
  <div class="each-msg">{{#link-to 'animal' animal.id}} {{animal.name}}: {{animal.description}} (Missing Since: {{animal.date}}){{/link-to}}</div>
{{/each}}

{{outlet}}
