<div class="new-comment-form">
  {{input type="text" placeholder="Your name" value=name class="name-input"}}
  {{input type="text" placeholder="Comment" value=comment class="comment-input"}}
  {{input type="date" placeholder="Date" value=date class="date-input"}}
  <button {{action 'addComment'}} class="submit">Add comment</button>
</div>
